:root {
  --white: #ffffff;
  --black: #000000;
  --offBlack: #0d0d0b;
  --whiteShadow: rgba(255, 255, 255, 0.2);
  --shadow: rgba(0, 0, 0, 0.15);
  --transparent: rgba(0, 0, 0, 0);
  --primaryColor: #f2ecdc;
  --secondaryColor: #dce2f2;
  --tertiaryColor: #ecdcf2;
  --quaternaryColor: #e2f2dc;
  --boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  --borderRadius: 0.5rem;
  --fontFamilyBase: -apple-system, "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fontFamilyBase);
  font-weight: 200;
  font-size: 16px;
  line-height: 1.6;
  color: var(--offBlack);
  background-color: var(--primaryColor);
}

p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.25rem;
  line-height: 1.2;
  font-weight: 200;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.75rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

time {
  display: block;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a {
  color: var(--offBlack);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
  color: var(--black);
  transition: color 0.3s ease-in-out;
}

.grecaptcha-badge {
  display: none;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }
}
